<p>You got a new message from <%= @contact.full_name %>!</p>
<p>
Message details<br>
--------------------------
</p>
<p>First Name: <%= @contact.first_name %></p>
<p>Last Name: <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>
Message:<br>
----------
</p>
<p>Subject: <%= @contact.subject %>
--------------------------
</p>
<p><%= @contact.message %></p>
