<div class="contact-container">
  <div style="text-align:center">
    <h1>Contact</h1>
    <p>Have a question?</p>
    <p>Please don't hesitate to reach out for any reason or just fill out the form and hit 'submit'.</p>
    <p>email: danicolemanphotography@gmail.com</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/assets/giraffe.jpg" style="width:100%">
    </div>
    <div class="column">
      <%= form_tag contact_path, method: :post, remote: true do %>
        <div class="form-group">
          <%= text_field_tag :first_name, nil, class:"form-control", placeholder: "First Name", required: true %>
        </div>
        <div class="form-group">
          <%= text_field_tag :last_name, nil, class:"form-control", placeholder: "Last Name" %>
        </div>
        <div class="form-group">
          <%= email_field_tag :email, nil, class:"form-control", placeholder: "Your Email", required: true %>
        </div>
        <div class="form-group">
          <%= text_field_tag :subject, nil, class:"form-control", placeholder: "Subject", required: true %>
        </div>
        <div class="form-group">
          <%= text_field_tag :message, nil, class:"form-control", placeholder: "Message", required: true %>
        </div>
        <div class="col-auto my-1">
          <%= submit_tag "Submit", class:"btn btn-primary" %>
        </div>
      <% end %>
      <!-- <form action="/contact" method: :post>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="email">Email Address</label>
        <input type="text" id="email" placeholder="Your email">
        <label for="subject">Subject</label>
        <input type="text" id="subject" placeholder="Write something.."></input>
        <label for="message">Message</label>
        <textarea id="message" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form> -->
    </div>
  </div>
</div>
